@use 'util';

/* Theme Defaults */
:root {
  // Colors inherit from theme
  // --c-primary
  // --c-secondary
  // --c-tertiary
  // --c-quaternary
  // --c-background
  // --c-text
  // etc

  // Spacing
  --space-max-width: 1200px;

  --space-page-h: 2rem;
  --space-page-v: 4rem;

  --space-button-h: 1rem;
  --space-button-v: 0.75rem;

  // Text
  // Fonts inherit from theme
  // --font-family-primary
  // --font-family-title
  // --font-family-brand

  --font-size-base: #{util.fluid(18px, 21px)};
  --line-height-base: 1.5;
  --font-size-h1: #{util.fluid(46px, 80px)};
  --line-height-h1: #{util.fluid(46px, 76px)};
  --font-size-h2: #{util.fluid(32px, 58px)};
}

/* Global Defaults */
body {
  min-height: 100vh;
  color: var(--c-text);
  background-color: var(--c-background);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
}

/* Type Defaults */
p {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

h1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

/* Layout Defaults */
.box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--space-max-width);
}
