@import './chill-space-fonts.scss';

:root {
  // Colors
  --c-primary: #000;
  --c-secondary: #000;
  --c-tertiary: #000;
  --c-quaternary: #000;
  --c-background: #000;
  --c-text: #fff;

  // Fonts
  --font-family-primary:
    'Source Sans 3', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial,
    sans-serif;
  --font-family-title:
    'Oxanium', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --font-family-brand:
    'Bitcount Prop Single', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial,
    sans-serif;
}

/**
 * Fonts
 */
// Bitcount Prop Single Regular
@font-face {
  font-family: 'Bitcount Prop Single';
  src: url('/fonts/BitcountPropSingle-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Light
@font-face {
  font-family: 'Bitcount Prop Single';
  src: url('/fonts/BitcountPropSingle-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Thin
@font-face {
  font-family: 'Bitcount Prop Single';
  src: url('/fonts/BitcountPropSingle-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

// Oxanium SemiBold
@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/Oxanium-SemiBold.woff2') format('woff2');
  font-weight: normal; // 600
  font-style: normal;
  font-display: swap;
}

// Source Sans 3 Regular
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Source Sans 3 Bold
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Source Sans 3 Italic
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

// Source Sans 3 Bold Italic
@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
